{% load static %}
{% for poll_title, questions_dict in dict.items %}
<div class="info-card">
    <div class="info-header">
        <i class="fas fa-info-circle"></i>
            <h3><a href="/{{ poll.title }}"></a>{{ poll_title }}</a></h3>
    </div>

    {% for question_text, answers in questions_dict.items %}
        <div class="question-card">
            <div class="question-header">
                <span class="question-number">{{ forloop.counter }}</span>
                <h2>{{ question_text }}</h2>
                <span class="required">*</span>
            </div>
            <p class="question-help">Выберите один вариант</p>
            {% for answer in answers %}
            <div class="options-container">
                <label class="option">
                    <input type="radio" name="question_{{ answer.question.id }}" value="{{ answer.id }}" required>
                    <span class="option-checkmark"></span>
                    <span class="option-text">{{ answer.option }}</span>
                </label>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endfor %}